[submodule "alpine-rootfs"]
	path = alpine-rootfs
	url = git@github.com:ubesluttsom/alpine-rootfs.git
[submodule "linux"]
	path = linux
	url = git@github.com:ubesluttsom/linux.git
	branch = lgcc-wip
[submodule "vm-scripts"]
	path = vm-scripts
	url = git@github.com:ubesluttsom/vm-scripts.git
[submodule "pep-dna"]
	path = pep-dna
	url = git@github.com:ubesluttsom/pep-dna.git
	branch = lgcc-wip
[submodule "test-rig"]
	path = test-rig
	url = git@github.com:ubesluttsom/thesis-test-rig.git
[submodule "data-analysis"]
	path = data-analysis
	url = git@github.com:ubesluttsom/thesis-data-analysis.git
[submodule "thesis-presentation"]
	path = thesis-presentation
	url = git@github.com:ubesluttsom/thesis-presentation.git
